/* Fonter */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #cfcdcd;
}

p {
    color: #848484;
}

a {
    color: #6d9597;
    text-decoration: none;
}

a:visited {
    color: #6d4b8d;
}

a:hover {
    color: #40f5ff;
}

a:active {
    color: #40f5ff;
}

/* Fjerner standard margins */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------- */
/*                                       Responsiv nav-bar                                           */
/*         hentet fra https://github.com/WebDevSimplified/css-only-hamburger-menu/tree/main          */
/*         Tilpasset til oppgaven                                                                    */
/* ------------------------------------------------------------------------------------------------- */

*::after,
*::before {
    box-sizing: border-box;
}

/* Variabler for hamburger-meny */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --foreground: #333;
    --background: white;
    --animation-time: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* Hamburger-meny */
.hamburger-meny {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    /* Use fixed to keep it at the top right */
    top: var(--hamburger-margin);
    /* Distance from the top of the screen */
    right: var(--hamburger-margin);
    /* Distance from the right side of the screen */
    z-index: 2;
    cursor: pointer;
}

.hamburger-meny:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-meny:has(input:focus-visible)::before,
.hamburger-meny:has(input:focus-visible)::after,
.hamburger-meny input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-meny::before,
.hamburger-meny::after,
.hamburger-meny input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-time), width var(--animation-time),
        rotate var(--animation-time), translate var(--animation-time),
        background-color var(--animation-time);
}

.hamburger-meny input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-meny:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-meny:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

/* Test for checkbox */
.hamburger-meny input:checked {
    opacity: 0;
    width: 0;
}

aside,
aside::after,
aside::before {
    box-sizing: border-box;
    margin: 0;
}

/* Sidebar styling */
.sidebar {
    top: 0;
    position: sticky;
    transition: translate var(--animation-time);
    translate: 100%;
    /* Plassering av sidebar på høyre side */
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 100rem;
    min-height: 100vh;
    position: fixed;
    /* Holder sidebaren til høyre */
    right: 0;
    /* høyrejuster sidebar */
}

.hamburger-meny:has(input:checked)+.sidebar {
    translate: 0;
}

/* Style innsiden av nav-baren */
nav div {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    color: #333;
    transition: var(--animation-time);
    text-align: center;
}

nav div:hover {
    background-color: #333;
    color: white;
}

nav a {
    text-decoration: none;
}

/*   nav div a:hover{
    background-color: #333;
    color: white;
  } */
/*                                    Generelle elementer                                  */
/* --------------------------------------------------------------------------------------- */
/* Horisontale line breaks */
hr {
    height: 3px;
    background-color: #62626230;
    border: none;
    border-radius: 50px;
}

.horizontal-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
}

.horizontal-nav div {
    background-color: #FFDC00;
    font-weight: 400;
}

/* Generelle semantiske elementer */
header {
    display: flex;
    background-color: #FFDC00;
    padding: 10px 20px;
    z-index: 1000;
    /* Higher z-index to ensure it's on top */
}

.logo {

    max-width: 150px;
    max-height: 150px;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

/* .content h2 {
    background-color: #a3a2a2;
    padding: 2px;
    border-radius: 7px;
} */

h3 {
    font-size: larger;
}

p {
    font-size: larger;
    text-align: left;
}

/* Bruk denne classen for p-elementer som skal midtjusteres */
p.center-text {
    text-align: center;
}


/* Content-grid styling */
.content-grid {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Left margin, content, right margin */
    min-height: 100vh;
    /* Full height av devicen */
    background-color: #121212;
}

/* venstre og høyre-margin style */
/* .left-margin,
.right-margin {} */

/* Det meste går inni denne, den delen som er på midten av siden */
.content {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: #1E1E1E;
    /* Add some inner padding for spacing */
    border-radius: 15px;
}

/* Grid styling */
.table-content {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

.inner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns of equal width */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* 3 rows with automatic height */
    gap: 5px;
    /* Space between grid items */
}

.inner-grid p {
    text-align: center;
}

.inner-grid div {
    /* background-color: #2E2E2E; */
    /* Bakgrunn kan muligens fjernes etterhvert */
    padding: 5px;
    text-align: center;
    /* Border for visual separation */
    border-radius: 10px;
}



/* Her kommer css for bare activity page  */
#klatre-bilde-boks{
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: aqua;
  margin-bottom: 30px;
}

#klatre-bilde{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.påmelding-placeholder{
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

.a-btn{
  background-color: palegreen;
  padding: 10px;
  border: none;
  margin-top: 10px;
}



.section-a2{
  margin-top: 30px;  
  display: flex;
  flex-direction: row;
}


.a-left-div{
  height: 200px;
  flex: 1;
  background-color: lightblue;
 

}

.a-rigth-div{
  height: 200px;
  flex: 1;
  background-color: lightpink;
 
}