


/* innholdsfortegnelse */

/* Felles */
    /* Genrelle fonter  */
    /* Felles elementer */
    /* Header */
    /* Main content layout */
    /* Footer */ 
    
/* Individuell */    
    /* styling til index-siden */
    /* styling til activity-siden */
    /* styling til GitHub-siden */
    /* styling til Accessibility-siden */






/*                                   Generelle Fonter                                               */
/* --------------------------------------------------------------------------------------- */

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #ffffff;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

h3 {
    font-size: larger;
}

p {
    font-size: larger;
    text-align: left;
    color: #dfdede;
    max-width: 1000px;
}
li{
    color: #dfdede;
    font-size: larger;
}

/* Bruk denne classen for p-elementer som skal midtjusteres */
p.center-text {
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-decoration: underline #d9bd09;
    text-decoration-thickness: 2px;
}

a:visited {
    color: #a08b06;
}

a:hover {
    color: #d9bd09;
}

a:active {
    color: #d9bd09;
}


/*                                    Generelle elementer                                  */
/* --------------------------------------------------------------------------------------- */

/* Fjerner standard margins */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #121212;
}


/* Horisontale line breaks */
hr {
    height: 3px;
    background-color: #62626230;
    border: none;
    border-radius: 50px;
}


/*                                    header                                   */
/* --------------------------------------------------------------------------------------- */


.horizontal-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
    max-width: 100%;
    overflow-x: hidden;
}
@media (max-width:800px){
    .horizontal-nav {
        display: none;
    }
}
.horizontal-nav div {
    background-color: #d9bd09;
    font-weight: 400;
}

header {
    display: flex;
    background-color: #d9bd09;
    padding: 10px 20px;
    padding-top: 0;
    z-index: 1000;
    /* Higher z-index to ensure it's on top */
}

.logo {
    max-width: 150px;
    max-height: 150px;
}



/* ------------------------------------------------------------------------------------------------- */
/*                                       Responsiv nav-bar                                           */
/*         hentet fra https://github.com/WebDevSimplified/css-only-hamburger-menu/tree/main          */
/*         Tilpasset til oppgaven                                                                    */
/* ------------------------------------------------------------------------------------------------- */

*::after,
*::before {
    box-sizing: border-box;
}

/* Variabler for hamburger-meny */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 20px;
    --foreground: #333;
    --background: white;
    --animation-time: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* Hamburger-meny */
.hamburger-meny {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    /* Use fixed to keep it at the top right */
    top: var(--hamburger-margin);
    /* Distance from the top of the screen */
    right: var(--hamburger-margin);
    /* Distance from the right side of the screen */
    z-index: 2;
    cursor: pointer;
}

.hamburger-meny:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-meny:has(input:focus-visible)::before,
.hamburger-meny:has(input:focus-visible)::after,
.hamburger-meny input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-meny::before,
.hamburger-meny::after,
.hamburger-meny input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-time), width var(--animation-time),
        rotate var(--animation-time), translate var(--animation-time),
        background-color var(--animation-time);
}

.hamburger-meny input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-meny:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-meny:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

/* Test for checkbox */
.hamburger-meny input:checked {
    opacity: 0;
    width: 0;
}

aside,
aside::after,
aside::before {
    box-sizing: border-box;
    margin: 0;
}

/* Sidebar styling */
.sidebar {
    top: 0;
    position: sticky;
    transition: translate var(--animation-time);
    translate: 100%;
    /* Plassering av sidebar på høyre side */
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 100rem;
    min-height: 100vh;
    position: fixed;
    /* Holder sidebaren til høyre */
    right: 0;
    /* høyrejuster sidebar */
}

.hamburger-meny:has(input:checked)+.sidebar {
    translate: 0;
}

/* Style innsiden av nav-baren */
nav div {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    color: #333;
    transition: var(--animation-time);
    text-align: center;
}

nav div:hover {
    background-color: #d9bd09;
    scale: 1.1;
}

nav a {
    text-decoration: none;
}


/*                                    main content layout felles                            */
/* --------------------------------------------------------------------------------------- */



/* Content-grid styling */
.content-grid {
    margin: 0;
    display: grid;
    grid-template-columns:1fr auto 1fr;
    column-gap: 10px;
    /* Left margin, content, right margin */
    min-height: 100vh;
    /* Full height av devicen */
    background-color: #121212;
}

@media (min-width: 700px){
.content {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: #1E1E1E;
    /* Add some inner padding for spacing */
    border-radius: 15px;
}
}

/* rutenett som brukes i index og activitetside */

.inner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns of equal width */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* 3 rows with automatic height */
    gap: 5px;
    /* Space between grid items */
}

.inner-grid div {
    /* background-color: #2E2E2E; */
    /* Bakgrunn kan muligens fjernes etterhvert */
    padding: 5px;
    text-align: center;
    /* Border for visual separation */
    border-radius: 10px;
}

.inner-grid p {
    text-align: center;
}



/*                                Styling footer                        */
/* --------------------------------------------------------------------------------------- */

/* felles footer for alle sidene. */

footer{
    margin-top: 90px;
    width: 100%;
    background-color: #333;
    padding-bottom: 30px;
    border-radius: 20px;
    padding:15px;
}

/* Oppretter en div boks som vi kan sette til en flexbox for
 å midtsentrere innholdet  */
.sub-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Her er footerns "header" (kanppen til nyhetsbrevet osv) */
.footer-headline{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: flex-start;
}

/* justerer footerens layout for 
mindre skjermer: Stabbler elementer vertikalt og til venstre.  */
@media (max-width: 800px){
    .footer-headline{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 10px;
        align-items: flex-start;
        } 
    } 

 /* Vi har opprettet tre div-bokser inne i footeren sin "heading". En 
 venstrdel som inneholder en overskrfit, en midtdel som nå er tom, men hvor man kan legge til ting
 senere, og en høyre del som inneholder en knapp. Når vi setter flex: 1, flex: 2, flex: 4, osv. i en
  flexbox-layout, bestemmer vi hvor mye plass hvert element skal ta i forhold til de andre elementene. Dette er gjort
  for at den skal bli mest mulig skalerbar når man juster størrelse på siden. */

.footer-headline-left{
    flex: 4;
}

.footer-headline-left h2{
    font-size: 30px;
    margin-left: 10px;
}

.footer-headline-mid{
    flex: 1;
}

.footer-headline-rigth{
    display: flex;
    justify-content: center;
    flex: 3;  
}

.footer-headline-rigth p{
    color: black;
}

.btn-abonner-nyhetsbrev{
    margin-top: 20px;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-radius: 20px;
    border: 3px #1E1E1E;
    transition: 200ms ease-in-out;
}

.btn-abonner-nyhetsbrev:hover{
    scale: 1.1;
    background-color: #d9bd09;
}

/*Her kommer hoveddelen av footeren, som også består av tre vertikale flex-bokser */

.footer-main{
    margin-top: 30px;
    display: flex;
    border-top: 2px solid white;    
}

/* Justerer footers main content layout til 
mindre skjermer: stabbler elementer verstikalt. 
*/

@media (max-width: 800px){
    .footer-main{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        border-top: 2px solid white;
    } 
} 


.footer-main ul{
    color: white;
    padding: 5px;
    list-style: none;  
}

.footer-main ul li{
    padding-top: 16px;
}

.footer-main h3{
    margin-top: 0px;
}

.footer-main-left{
    margin-top: 30px;
    flex: 1; 
}

/* Bruker nested flexbox teknikk for å kunne manipulere plassering til elemnter inni containeren.
i dette tilfellet  */
.footer-main-middle{
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Justerer midt-konteineren i footers-main content layout for 
mindre skjermer: Stabbler elementer til venstre i stedet for høyre. 
*/
@media (max-width: 800px){
    
.footer-main-middle{
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
} 

.footer-main-rigth{
    margin-top: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Justerer høyre container i footerenss-main content layout for 
mindre skjermer: Stabler elementer til venstre i stedet for i midten. 
*/
@media (max-width: 800px){            
.footer-main-rigth{
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
} 





/*                                    styling til index-siden                                        */
/* --------------------------------------------------------------------------------------- */


.video-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 20px;
}

.h2-Bachelorprogram{
    text-align: center;
}

/* Styling som brukes til flere seksjoner*/

.informasjon-seksjon{
    margin-top: 30px;
    padding-bottom: 20px; 
}

.informasjon-seksjon ul{
    color: white;
    padding: 5px;  
}

.informasjon-seksjon ul li{
    padding-top: 16px;
}



.table-content {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}


.inner-grid-spesialisering {
    display: grid;
    /* 3 columns of equal width */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* 3 rows with automatic height */
    gap: 10px;
    /* Space between grid items */
    white-space: normal;
    word-break: break-word;
}

.inner-grid-spesialisering div {
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
}

.inner-grid-spesialisering h3 {
    text-align: left;
}

.Studieår-bakgrunn {
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
}

.Semester{
    font-size: large;
    margin-left:20px;
}

.fag-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    
}
.emnegruppe{
    margin-top: 0;
}

@media (max-width: 480px) {
        .hide {
            display: none;
        }
    }

.fag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    border-radius: 20px;
    grid-template-columns: 1fr;
    padding-left: 15px;
    min-height: 150px;
    transition: 200ms ease;
}
.fag:hover{
    scale: 1.05;
}
.fag h3 {
    margin-bottom: 10px;
}

.p-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-right: 15px;
}
.p-container-under{
display: flex;
}

.faglig-leder-informasjon{
    display: flex;
    width: 60%;
    column-gap: 10px;
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray;
}

.faglig-leder-bilde-boks{
    flex: 1; 
    height: 150px; 
}

.faglig-leder-tekst-boks{
    flex: 4;
    height: 150px; 
}

.andre-studier div{
    border-top: 1px solid lightslategray;
    padding-top: 6px;
    padding-bottom: 6px;
}


.boks1{
    display: flex;
    justify-content: center; 
    margin-top: 40px;
}

.boks2{
    width: 90%;
   /* border: 2px solid rgb(189, 189, 189); */
    display: flex;
    border-radius: 15px;
    padding-left: 20px;

}

.boks3{
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}


.student-historier{
    width: 90%;
    background-color: #d9bd09;
    display: flex;
    border-radius: 15px;
    padding: 20px;
   
}

@media (max-width: 700px) {
    .student-historier{
        width: 100%;
        background-color: #d9bd09;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding: 15px;
        
    }
 }

.student-historier div{
    flex: 1;
    column-gap: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.student-historier div h2{
    color: #1b1b1b;
    margin-left: 10px;
}

.student-historier div p{
    color: #1b1b1b;
    margin-left: 10px;
}


.student-historier div a{
    color: #242323;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.boks3 img{
    width: 100%; 
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}



/*                                Styling for activity page                        */
/* --------------------------------------------------------------------------------------- */


.introduksjons-seksjon-bilde-contener{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
}

.a-bilde1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* seksjon besåtende av to horrisontale bokser, gjennom å bruke flex.   */
.a-påmelding-seksjon {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Endrer retningen slik at de to divboksene kommer ovenfor hverandre når
 den vises på en skjermstørrelse som er 700px eller mindre. */
@media (max-width: 700px){
    .a-påmelding-seksjon {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;
    }
}

/*Venstre og høyre divboks er stt til å være flex: 1 som gjør at de tar
opp like stor andel av tilgjenlg plass innefor sitt foreldreelement, samtidig
som det får en fleksibel størrelse som tilpasser seg ettersom siden skalerer.
Boksene er også satt til: display: flex, for å kunne midtsentrere elementer.*/

.a-left-section {
    margin-right: 10px;
    height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
}

.a-rigth-section {
    margin-left: 10px;
    height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
}

.påmelding-placeholder {
    width: 70%;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

.a-btn {
    background-color: palegreen;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.a-btn:hover{
    cursor: pointer;
}

.påmelding-bilde {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
}

/* Seksjon som inneholder tabele. */

.a-dager-klatres-seksjon {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding-bottom: 40px;
}

table {
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
  }

table caption {
    font-size: 1.5em;       
    font-weight: bold;       
    color: #333;             
    text-align: center;      
    margin-bottom: 10px;     
    background-color: #f2f2f2; 
    padding: 10px;          
    border-radius: 5px;      
}
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  
  .tekstfarge{
    color: black;
  }
  
  .tekst-boks-farge{
    color: black;
    background-color: white;
  }

  @media (max-width: 800px) {
    table {
        width: 100%; /* Gjør tabellen fullbredde på mobil */
        font-size: 12px; /* Gjør teksten mindre */
    }

    th, td {
        padding: 6px; /* Reduser padding for cellene */
    }
}

  @media (max-width: 700px) {
    table {
        width: 100%; /* Gjør tabellen fullbredde på mobil */
        font-size: 12px; /* Gjør teksten mindre */
    }

    th, td {
        padding: 2px; /* Reduser padding for cellene */
    }
}

/* Ny seksjon som lager en layput med to horisontale bokser  */

.a-hvorfor-klatre-article{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* Stabbler boksene oppå hverandre, med flex-direction: column,
 for å vising på mindre skjerm.   */

@media (max-width: 1000px){
    .a-hvorfor-klatre-article {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}


/* Justerer alle (begge) div-boksene i den spesefikke seksjonen. til å 
ta opp lik mengde tilgjenlig plass. */

.a-hvorfor-klatre-article div{
    flex: 1;   
    margin-left: 10px;
    margin-right: 10px;
    height: 580px;
    background-color: #333;
    border-radius: 15px;
}



.a-hvorfor-klatre-article h2{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.a-hvorfor-klatre-article p{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.klatrebilde3{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    
}

.overskriftboks{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Seksjon for artikel-rutenettet. Den er satt til å være grid, med 3 like store bokser på
på hver rad, som også skalerer seg etter skjermens størrelse. 
 */

.a-section5{
    margin-top: 30px;
    background-color: #6d4b8d11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 55px;
    justify-content: space-between;
}

/* Endrer antall bokser per rad fra 3 til 2 når den vises på mindre skjerm.*/

@media (max-width: 1000px){
    .a-section5{
        margin-top: 30px;
        background-color: #6d4b8d11;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 35px;
        justify-content: space-between; 
    } 
}

.a-section5 div{
    background-color: #333;
    padding-bottom: 20px;
    border-radius: 15px;
}

.artikel-bilder{
    width: 100%;
    height: auto;
    border-radius: 15px;
}


    
/*                                Styling for GitHub side                                */
/* --------------------------------------------------------------------------------------- */

.git-undertekst {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.gitcommit1 {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: inside;
}

.git-bildetekst {
    padding-top: 80px;
    text-align: center;
}

.punktliste1 {
        margin: 0;
        padding-left: 40px;
        list-style: disc;
    }

.punktliste1 li {
    margin-bottom: 10px;
}

/* Henter section klasse fra aktivitetssiden og gjør unik for oppsett til GitHub-siden. */

.git-seksjon {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

@media (max-width: 1000px){
    .git-seksjon {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}

.git-seksjon div{
    flex: 1;   
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    background-color: #333;
    border-radius: 15px;
    overflow: auto;
}

.git-seksjon h2{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.git-seksjon p{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}